apiVersion: v1
kind: ConfigMap
metadata:
  name: nextcloud-config
  namespace: nextcloud
  labels:
    app: nextcloud
data:
  POSTGRES_DB: nextcloud
  POSTGRES_USER: nextcloud
  POSTGRES_PASSWORD: nextcloud
  POSTGRES_HOST: 192.168.30.81
  REDIS_HOST: 192.168.30.82
  REDIS_HOST_PORT: "6379"
  NEXTCLOUD_TRUSTED_DOMAINS: files.<your-domain>
  NEXTCLOUD_UPDATE: "1"
  NEXTCLOUD_ADMIN_USER: admin
  NEXTCLOUD_ADMIN_PASSWORD: admin
  OVERWRITEPROTOCOL: "https"
  OVERWRITECLIURL: https://files.<your-domain>/
