---
apiVersion: v1
kind: ConfigMap
metadata:
  name: wireguard-config
  namespace: wireguard
data:
  WG_HOST: ""

---
apiVersion: v1
kind: Secret
metadata:
  name: wireguard-secrets
  namespace: wireguard
type: Opaque
data:
  # echo -n "password" | base64
  # admin password
  PASSWORD: ""