---
apiVersion: v1
kind: Secret
metadata:
  name: plausible-secrets
  namespace: plausible
type: Opaque
stringData:
  BASE_URL: "https://some-url.com"
  SECRET_KEY_BASE: "some-secret-key-of-64-characters-long"

