---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: kube-system
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`192.168.1.208`) && PathPrefix(`/dashboard/`, `/api`)
      kind: Rule
      services:
        - name: api@internal
          port: 8080
          kind: TraefikService