---
apiVersion: v1
kind: Secret
metadata:
  name: ovh-apikey-secret
  namespace: kube-system
type: Opaque
stringData:
  ovhEndpoint: {{ ovh_endpoint }}
  ovhApplicationKey: {{ ovh_application_key }}
  ovhApplicationSecret: {{ ovh_application_secret }}
  ovhConsumerKey: {{ ovh_consumer_key }}

---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-apikey-secret
  namespace: kube-system
type: Opaque
stringData:
  cloudflareEmail: {{ cloudflare_api_email }}
  cloudflareAPIKey: {{ cloudflare_api_key }}