---
apiVersion: v1
kind: Secret
metadata:
  name: authsecret
  namespace: registry
data:
  users: |
    <your basic auth password>

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: registry-config
  namespace: registry
data:
  URL: https://registry.<your domain>/
  REGISTRY_URL: http://registry:5000
  DELETE_IMAGES: "true"
  NGINX_PROXY_PASS_URL: http://registry:5000
  SINGLE_REGISTRY: "true"
