---
apiVersion: v1
kind: ConfigMap
metadata:
  name: aria2-config
  namespace: aria2
  labels:
    app: aria2
data:
  PUID: ${UID}
  PGID: ${GID}
  UMASK_SET: "022"
  RPC_SECRET: "__PASSWORD__"
  RPC_PORT: "6800"
  LISTEN_PORT: "6800"
